body {
    background-color: white; 
    font-family: sans-serif, Arial, Geneva;
    padding: 0px;
    font-size: 12pt;
}

#main {
    width: 960px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#mainLogo {
    width: 300px;
    height: 114px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    background: url(/imgs/logo.png) 0 no-repeat;
    background-position: center;
}

a:link { text-decoration: none; }
	
a:visited { text-decoration: none; }

a:hover { text-decoration: underline; }

.external { 
    color: #4444FF; 
    padding-right:11px;
    background: url(/imgs/ext.png) 0 no-repeat;
    background-position:center right;
}

table { 
    border-spacing: 0pt;
    border-width: 0pt;
}

.topline {
    border-top: 1px solid #888888;
}

.oddrow {
    background-color: #eeeeee;
}

pre {
    font-size: 10pt;
}

.hint {
    font-size:small;
    color: #440044;
}

.error {
    color: #CC0000;
}

.kw1 {
    font-weight: bold;
    background-color: #FFFF66;
}

.kw2 {
    font-weight: bold;
    background-color: #A0FFFF;
}

.kw3 {
    font-weight: bold;
    background-color: #99FF99;
}

.kw4 {
    font-weight: bold;
    background-color: #FF9999;
}

.entryhead {
    font-weight: bold;
    background-color: #AAFFAA;
    padding: 2px;
    border: 1px solid #77BB77;
}

.entrytitle {
    font-weight: bold;
    font-size: 18pt;
}

.internal {
    color: #DDD;
    font-size: smaller;
}

.new {
    font-size: small;
    color: red;
    background-color: yellow;
}

.phylotable {
    font-size: smaller;
}

.xstooltip {
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 2; 
    font: normal 8pt sans-serif; 
    padding: 3px; 
    border: solid 1px;
    background-color: #AAFFAA;
}

.navline {
    background-color: #DDEEDD;
    padding: 3px;
}

.protlist {
    font-size: 12pt;
    border-spacing: 7pt;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

.species {
    font-size: small;
}

.desc {
    font-size: small;
}

.headmain {
    background-color: #AAFFAA;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #77BB77;
}

.head1 {
    font-size: 180%;
    font-weight: bold;
    padding-bottom: 8px;
}

.head2 {
    font-size: small;
}

.emph {
    font-weight: bold;
}

div.modalPopupTransparent {
    background: #CCCCCC;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.modalPopupWindow {
    position: absolute;
    background-color: #FFFF88;
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}



form {
  margin: 0;
  padding: 0;
  font-size: 100%;
  min-width: 560px;
  width: 100%;
}

form fieldset {
  clear: both;
  font-size: 100%;
  border-color: #000000;
  border-width: 1px 0 0 0;
  border-style: solid none none none;
  padding: 10px;
  margin: 0 0 0 0;
}

form fieldset legend {
  font-size: 130%;
  font-weight: normal;
  color: #000000;
  margin: 0 0 0 0;
  padding: 0 5px;
}

label {
  font-size: 100%;
}

form fieldset div.notes {
  float: right;
  width: 260px;
  height: auto;
  margin: 0 0 10px 10px;
  padding: 5px;
  border: 1px solid #666666;
  background-color: #ffffe1;
  color: #666666;
  font-size: 88%;
}

form fieldset div.notes h4 {
  background-image: url(/imgs/icon_info.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 3px 0 3px 27px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #666666;
  color: #666666;
  font-size: 100%;
}

form fieldset div.notes p {
  margin: 0em 0em 1.2em 0em;
  color: #666666;
  font-size: 80%
}

form fieldset div.notes p.last {
  margin: 0em;
}

form fieldset div.notes ul{
  margin: 0em 0em 0em 0em;
  font-size: 80%
}

form fieldset div.addInfo {
  width: 380px;
  height: auto;
  margin: 10px 0px 10px 10px;
  padding: 5px;
  border: 1px solid #666666;
  background-color: #ddffdd;
  color: #444444;
  font-size: 75%;
}

form fieldset div.addInfo h4 {
  padding: 3px 0 3px 3px;
  margin: 0px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #666666;
  color: #444444;
  font-size: 110%;
}

form fieldset div.addInfo ul{
  margin: 0em 0em 0em 0em;
}

div.test h4 {
  padding: 0;
  font-size: 100%;
  margin: 10px 0px 3px 0px;
}


div.testParam {
  margin-left: 50px ;
}
div.testParam div.testParamList {
  margin-left: 30px;
}

div.testParam fieldset {
  clear: none;
  width: 500px;
  border-style: solid none none solid;
  border-width: 1px 1px 1px 1px;
  margin-bottom: 10px;
  padding: 0px 10px 10px 10px;
}

div.testParam fieldset legend {
  font-size: 100%;
}
div.testParam fieldset p {
  margin: 0px 0px 5px 0px
}

/* Result Page */
div.RawResults {
   float: left;
   width: 50%;
}

div.Graphics {
   float: right;
   width: 50%;
}
div.Graphics img{
   width: 100%;
}

div.reset {
   clear: both;
}


