name: Docker Image CI

on:
  push:
    branches: [ elixir, master ]
  pull_request:
    branches: [ master ]
  release:
    type: [published]

env:
  TEST_TAG_PYTHON: qfobenchmark/python:test
  TEST_TAG_DARWIN: qfobenchmark/darwin:test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Docker python meta
        id: meta_python
        uses: docker/metadata-action@v4
        with:
          # list of Docker images to use as base name for tags
          images: |
            qfobenchmark/python
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Docker python meta
        id: meta_darwin
        uses: docker/metadata-action@v4
        with:
          # list of Docker images to use as base name for tags
          images: |
            qfobenchmark/darwin
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and export python image to docker for testing
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile_qfo_python
          load: true
          tags: ${{ env.TEST_TAG_PYTHON }}

      - name: Test Python
        run: |
          docker run --rm -i ${{ env.TEST_TAG_PYTHON }} python --version

      - name: Build and export darwin image to docker for testing
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile_qfo_darwin
          load: true
          tags: ${{ env.TEST_TAG_DARWIN }}

      - name: Test Darwin image
        run: |
          mkdir -p output
          docker run --rm -i -v $PWD/output:/out ${{ env.TEST_TAG_DARWIN }} bash -c "echo 'gigahertz(); done' | darwin -q -E -o /out/speed.txt"
          echo "$?"
          ls -l output/

      - name: Login to DockerHub
        if: github.event_name != 'pull_request' && github.event_name != 'push'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile_qfo_python
          platforms: linux/amd64
          push: ${{ github.event_name != 'push' && github.event_name != 'pull_request' }}
          tags: ${{ steps.meta_python.outputs.tags }}
          labels: ${{ steps.meta_python.outputs.labels }}

      - name: Build and push darwin
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile_qfo_darwin
          platforms: linux/amd64
          push: ${{ github.event_name != 'push' && github.event_name != 'pull_request' }}
          tags: ${{ steps.meta_darwin.outputs.tags }}
          labels: ${{ steps.meta_darwin.outputs.labels }}
